.field {
  width: 306px;
  margin: 0 auto;
  background-color: white;
}

.field>div {
  width: 100px;
  height: 100px;
  cursor: pointer;
  float: left;
  text-align: center;
  font-size: 25px;
  line-height: 94px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, .3), 0 1px 0px rgba(0, 0, 0, .3), 0 1px 20px rgba(0, 0, 0, .3), 0 1px 0px rgba(0, 0, 0, .3) inset;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -73px;
  text-decoration: none;
  text-align: center;
  padding: 11px 32px;
  border-radius: 50px;
  font: 19px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #f5f5f5;
  box-shadow: 4px -2px 12px #bababa, inset 0px 0px 1px #ffffff;
}

.button:hover {
  padding: 11px 32px;
  border-radius: 50px;
  font: 19px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.button:active {
  padding: 11px 32px;
  border-radius: 50px;
  font: 19px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E5FFFF;
  background-color: #3BA4C7;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

#myTextArea {
  position: absolute;
  margin: 0 +85px;
  left: 0;
  width: 170px;
  height: 200px;
  resize: none;
  outline: none;
  -moz-appearance: none;
  border: 1px solid #999;
  background-color: #fbf7f7;
}

#result {
  color: red;
  position: absolute;
  top: 60%;
  left: 50%;
  margin: 0 -40px;
}
